<footer id="footer">
  <div class="container">
    <div class="row footer-top">
        <div class="col-md-6">
            <h3>our company</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="infomation">
                <p><i class="fa fa-phone"></i>Telephone: +84 988 992 085</p>
                <p><i class="fa fa-envelope-o"></i>Email: lamhvdesigner@gmail.com</p>
                <p><i class="fa fa-clock-o"></i>8:00 - 19:00, Monday - Saturday, Sunday - closed</p>
            </div>

        </div>

        <div class="col-md-4">
            <h3>Customer service</h3>
            <ul class="menu">
                <li><a href="#" title="Help">Help</a></li>
                <li><a href="/contact-us" title="Contact Us">Contact Us</a></li>
                <li><a href="#" title="Warranty">Warranty</a></li>
                <li><a href="#" title="Terms & Conditions">Terms & Conditions</a></li>
                <li><a href="#" title="Shopping information">Shopping information</a></li>
            </ul>
            <ul class="menu">
                <li><a href="/my-account" title="My Account">My Account</a></li>
                <li><a href="#" title="Arder Status">Arder Status</a></li>
                <li><a href="#" title="Payment">Payment</a></li>
                <li><a href="#" title="Gift Voucher">Gift Voucher</a></li>
                <li><a href="#" title="Cancellations">Cancellations</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>About</h3>
            <ul class="menu">
                <li><a href="/product" title="Products">Projects</a></li>
                <li><a href="#" title="Jobs">Jobs</a></li>
                <li><a href="/collection" title="Collections">Collections</a></li>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="#" title="Media">Media</a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
        <div class="col-md-6 social">
            <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" title="sky"><i class="fa fa-skype"></i></a>
            <a href="#" title="vibo"><i class="fa fa-vine"></i></a>
            <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-md-6">
            <p>Copyright &copy; 2016 by <a href="#" title="Pixel-Creative">Pixel-Creative</a>. All Rights Reserved.</p>
        </div>
    </div>
  </div>
  <!-- End container -->
</footer>
<script type="text/javascript" src="{{ 'futurelifeasset/js/bootstrap.min.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'futurelifeasset/js/owl.carousel.min.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'futurelifeasset/js/instafeed.min.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'futurelifeasset/js/store.js' | asset_url}}"></script>