<div class="main-content space-80 about-us">
  <div class="container">
      <div class="space-padding-tb-60 row">
          <div class="col-md-4">
              <div class="feature-box feature-box-v3 feature-box-center space-30 about-icon">
                  <div class="fbox-icon">
                      <a href="#"><i class="icons fa fa-map-o"></i></a>
                  </div>
                  <div class="fbox-body">                            
                      <h4>Multi Homepages</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>                              
              </div>
          </div>
          <!-- End col-md-4 -->
          <div class="col-md-4">
              <div class="feature-box feature-box-v3 feature-box-center space-30 about-icon">
                  <div class="fbox-icon">
                      <a href="#"><i class="icons fa fa-cogs"></i></a>
                  </div>
                  <div class="fbox-body">                            
                      <h4>Easy to customize</h4> 
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>                              
              </div>
          </div>
          <!-- End col-md-4 -->
          <div class="col-md-4">
              <div class="feature-box feature-box-v3 feature-box-center space-30 about-icon">
                  <div class="fbox-icon">
                      <a href="#"><i class="icons fa fa-life-ring"></i></a>
                  </div>
                  <div class="fbox-body">      
                      <h4>support online 24/7</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>                              
              </div>
          </div>
          <!-- End col-md-4 -->
      </div>
      <!-- End padding-tb-60 -->
  </div>
  <!-- End container -->
      <div class="space-padding-tb-80 bg-default no-space-row about-content">
          <div class="container">
              <div class="row no-space-row">
                  <div class="col-md-12">
                      <div class="title-text title-about space-30 space-padding-tb-30">
                          <h3>Meet awesome team</h3>
                          <p>Professional & Outstanding ideas  of our passionate team makes us unique in every sense.</p>
                      </div>
                      <!-- End title-about -->
                  </div>
                 <div class="col-md-3">
                      <div class="interactive-banner interactive-banner-v1 effect-v6 center">
                          <div class="interactive-banner-body">
                              <img class="img-responsive" src="{{ 'futurelifeasset/images/Futurelife-about1.jpg' | asset_url }}" alt="">
                              <div class="interactive-banner-profile text-center">
                                  <div class="action light-style">
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                                  </div>
                              </div>
                          </div> 
                      </div>                                                                           
                      <div class="banner-title space-padding-tb-30">
                          <h3>Jason Ford</h3>
                          <p>Designer</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="interactive-banner interactive-banner-v1 effect-v6 center">
                          <div class="interactive-banner-body">
                              <img class="img-responsive" src="{{ 'futurelifeasset/images/Futurelife-about1.jpg' | asset_url }}" alt="">
                              <div class="interactive-banner-profile text-center">
                                  <div class="action light-style">
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>  
                      <div class="banner-title space-padding-tb-30">
                          <h3>Michael Andrews</h3>
                          <p>SEO Specialist</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="interactive-banner interactive-banner-v1 effect-v6 center">
                          <div class="interactive-banner-body">
                              <img class="img-responsive" src="{{ 'futurelifeasset/images/Futurelife-about1.jpg' | asset_url }}" alt="">
                              <div class="interactive-banner-profile text-center">
                                  <div class="action light-style">
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div> 
                      <div class="banner-title space-padding-tb-30">
                          <h3>Samuel Banks</h3>
                          <p>Developer</p>
                      </div>
                  </div>

                  <div class="col-md-3">
                      <div class="interactive-banner interactive-banner-v1 effect-v6 center">
                          <div class="interactive-banner-body">
                              <img class="img-responsive" src="{{ 'futurelifeasset/images/Futurelife-about1.jpg' | asset_url }}" alt="">
                              <div class="interactive-banner-profile text-center">
                                  <div class="action light-style">
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-pinterest"></i></a>
                                      <a href="#"><i class="icons icons-bodered radius-x fa fa-dribbble"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div> 
                      <div class="banner-title space-padding-tb-30">
                          <h3>Pixel Creative</h3>
                          <p>Photography</p>
                      </div>
                  </div>
              </div><!--/end row-->
          </div>
      </div>
      <!-- End content-Abot -->
      <div class="container">
          <div class="title-text title-about space-padding-tb-50 space-5">
              <h3>Our Skills</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <!-- End title -->
          <div class="our-skills">
              <div class="col-md-6">
                  <h3>HTML/CSS</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                          <span>70%</span>
                        </div>
                  </div>
                  <h3>Wordpress theme</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          <span>90%</span>
                        </div>
                  </div>
                  <h3>Typhography</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                          <span>80%</span>
                        </div>
                  </div>
                  <h3>Brading</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%">
                          <span>96%</span>
                        </div>
                  </div>
              </div>
              <!-- Col-md-6 -->
              <div class="col-md-6">
                  <h3>Joomla Template</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                          <span>80%</span>
                        </div>
                  </div>
                  <h3>3D Max</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                          <span>55%</span>
                        </div>
                  </div>
                  <h3>Photoshop Cs6</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%">
                          <span>98%</span>
                        </div>
                  </div>
                  <h3>Magento theme</h3>
                  <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                          <span>85%</span>
                        </div>
                  </div>
              </div>
              <!-- Col-md-6 -->
          </div>
  </div>
  <!-- End container -->
</div>