<div class="main-content check-confirm"> 
  <div class="container">            
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Checkout</li>
        </ul>      
        <div class="checkout-header">
            <ul>
              <li><a href="/checkout-identifi"><span>01</span>Identification</li></a>
              <li><a href="/checkout-billing"><span>02</span>Billing & shipping</li></a>
              <li class="active"><a href="/checkout-confirm"><span>03</span>Confirmation</li></a>
            </ul>
        </div>
        <!-- End checkout header -->
        <div class="col-md-6">
            <div class="icon">
                <i class="fa fa-shopping-basket"><i class="fa fa-check"></i></i>
                <h3>Order succesfully received</h3>
                <h4>Thanks for your purchase!</h4>
            </div>
        </div>
        <div class="col-md-6 order-details">
            <div class="title-product">
                <h3>Order details ( ID: 167hvl1990 )</h3>
            </div>
            <!-- End product -->
                <div class="col-md-6 space-30">
                    <h4>Billing Details:</h4>
                    <p><b>Name:</b> Pixel Creative</p>
                    <p><b>Email:</b> Lamhvdesigner@gmail.com</p>
                    <p><b>Phone: </b>+84.988 992 085</p>
                    <p><b>Address: </b>907Rainbow, Linh Dam, Ha Noi, Viet Nam</p>
                </div>
                <!-- End col-md-6 -->
                <div class="col-md-6 space-30">
                    <h4>Shipping Details:</h4>
                    <p><b>Name:</b> Pixel Creative</p>
                    <p><b>Email:</b> Lamhvdesigner@gmail.com</p>
                    <p><b>Phone: </b>+84.988 992 085</p>
                    <p><b>Address: </b>907Rainbow, Linh Dam, Ha Noi, Viet Nam</p>
                </div>
                <!-- End col-md-6 -->
                <div class="col-md-6 space-30">
                    <h4>Cart Details:</h4>
                    <p>Product #01 x 2   $139.80</p>
                    <p>Product #03 x 1   $69.90</p>
                    <p>Shipping & Handing  $30</p>
                    <p>Coupon Discount  -$10</p>
                    <p class="total"><span>Total:</span> $199.70</p>
                </div>
                <!-- End col-md-6 -->
                <div class="col-md-6 space-30">
                    <h4>Payment Method:</h4>
                    <p><b>Credit cart</b></p>
                    <p><b>Name:</b>Pixel Creative</p>
                    <p><b>Email:</b> Lamhvdesigner@gmail.com</p>
                    <p><b>Cart number:</b> ****-****-1990</p>
                    <p><b>Address:</b> 907Rainbow, Linh Dam, 
                    Ha Noi, Viet Nam</p>    
                </div>
                <!-- End col-md-6 -->
            
        </div>
        <!-- End col-md-6 -->
        <div class="col-md-12 return-home space-padding-tb-80" style="text-align: center;"><a class="btn link-button space-20" href="/" title="Return Home">Return Home</a><a class="btn link-button link-button-v2 space-20" href="#" title="Continue Shopping">Continue Shopping</a></div>
    </div>           
    <!-- End conainer -->
  </div>