<div class="main-content space-60"> 
  <div class="container">            
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Check out</li>
    </ul>   
    <div class="checkout-header">
        <ul>
          <li class="active"><a href="/checkout-identifi"><span>01</span>Identification</li></a>
          <li><a href="/checkout-billing"><span>02</span>Billing & shipping</li></a>
          <li><a href="/checkout-confirm"><span>03</span>Confirmation</li></a>
        </ul>
    </div>
    <!-- End checkout header -->
     <div class="account">
        <div class="col-md-6">
            <div class="title-product">
                <h3>Create a new account</h3>
            </div>
            <!-- End title product -->
            <p class="space-40">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="contact-form check-out acc-login">
               <form class="form-horizontal"> 
                    <div class="form-group">
                        <label class=" control-label" for="inputemail">Email</label>                            
                        <input type="text" class="form-control" id="inputemail" placeholder="Mark Stevens">                
                    </div>
                    <div class="form-group">
                        <label class=" control-label" for="inputpass">Password</label>                            
                        <input type="password" class="form-control" id="inputpass" placeholder="******">                
                    </div>
                     <div class="form-group">            
                        <a class="btn link-button link-button-v2" href="#" title="REgister now">Register now</a>
                    </div>
                    <div class="form-group">            
                        <a class="btn link-button link-button-v2" href="#" title="Checkout as guest">Checkout as guest</a>
                    </div>
                </form>
            </div>
            <!-- End contact form -->
        </div>
        <!-- End col-md-6 -->
        <div class="col-md-6 acc-login">
            <div class="title-product">
                <h3>Login to your account</h3>
            </div>
            <!-- End product -->
            <div class="contact-form">
               <form class="form-horizontal"> 
                    <div class="form-group">
                        <label class=" control-label" for="inputemail2">Email</label>                            
                        <input type="text" id="inputemail2" class="form-control" placeholder="Mark Stevens">            
                    </div>
                    <div class="form-group">
                        <label class=" control-label" for="inputpass2">Password</label>                            
                        <input type="password" class="form-control" id="inputpass2" placeholder="******">           
                    </div>

                     <div class="form-group">
                        <a class="btn link-button acc" href="#" title="Login to your account">Login to your account</a>
                    </div>
                    <div class="form-group">
                        <a class="btn link-button link-button-fb" href="#" title="Login facebook"><i class="fa fa-facebook"></i>Login facebook</a>
                        <a class="btn link-button link-button-tw" href="#" title="Login twitter"><i class="fa fa-twitter"></i>Login twitter</a>
                    </div>  
                </form>
            </div>
            <!-- End contact form -->
        </div>
    </div>       
    <!-- End account -->
    </div>           
    <!-- End conainer -->
  </div>