<div class="main-content wishlist"> 
  <div class="container">            
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Shopping cart</li>
    </ul>   
    <div class="title-product">
        <h3>Your wishlist</h3>
    </div>
    <!-- End title product -->
    <table class="table wishlist">
        <thead>
            <tr>
                <th class="product-photo">Product Photo</th>
                <th class="produc-name">Product Name</th>
                <th class="description">Description</th>
                <th class="product-price">Price</th>
                <th class="product-avai">Availability</th>
                <th class="add-cart">Add to cart</th>
                <th class="product-remove"></th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="item_cart">
                <td class="product-photo"><img src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url }}" alt="Futurelife" height="100" width="100"></td>
                <td class="produc-name"><a href="#" title="">Name product 01</a></td>
                <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td class="product-price">$69.60</td>
                <td class="product-avai">in stock</td>
                <td class="add-cart"><a href="#" title=""><i class="fa fa-shopping-basket"></i></a></td>
                <td class="product-remove"><a href="#" title="">x</a></td>
            </tr>
            <tr class="item_cart">
                <td class="product-photo"><img src="{{ 'futurelifeasset/images/products/1.jpg' | asset_url }}" alt="Futurelife" height="100" width="100"></td>
                <td class="produc-name"><a href="#" title="">Name product 01</a></td>
                <td class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td class="product-price">$69.60</td>
                <td class="product-avai">in stock</td>
                <td class="add-cart"><a href="#" title=""><i class="fa fa-shopping-basket"></i></a></td>
                <td class="product-remove"><a href="#" title="">x</a></td>
            </tr>
        </tbody>
    </table>
    </div>           
    <!-- End conainer -->
  </div>