<div class="main-content">
  <div class="container">
    <div class="col-md-6 space-padding-50 contact-form contact-form-bg">
      <h3 class="space-50">Register</h3>
      <form id="register-form" class="form-horizontal">
          <div class="form-group col-md-6">
              <label class=" control-label" for="nama">Name</label>                            
              <input type="text" class="form-control" id="nama" placeholder="Name">                        
          </div>
          <div class="form-group col-md-6">
            <label class=" control-label" for="password">Password</label>                            
            <input type="password" class="form-control" id="password" placeholder="Password">                   
          </div>
          <div class="form-group col-md-6">
            <label class=" control-label" for="email">Email</label>                            
            <input type="text" class="form-control" id="email" placeholder="Email">                   
          </div>
          <div class="form-group col-md-6">
            <label class=" control-label" for="c_password">Retype Password</label>                            
            <input type="password" class="form-control" id="c_password" placeholder="Retype Password">                   
          </div>
          <div class="form-group col-md-12">
              <label class=" control-label" for="alamat">Alamat</label>
              <textarea class="form-control" id="alamat" name="alamat"></textarea>
              <div class="checkbox space-10">
              </div>
              <button class="btn link-button" type="submit">Send</button>
          </div>
      </form>
    </div>
    <div class="col-md-6 space-padding-50 contact-form contact-form-bg">
      <h3 class="space-50">Login</h3>
      <form id="register-form" class="form-horizontal">
          <div class="form-group col-md-6">
              <label class=" control-label" for="username_email">Username / Email</label>                            
              <input type="text" class="form-control" id="username_email" placeholder="Username / Email">                        
          </div>
          <div class="form-group col-md-6">
              <label class=" control-label" for="password">Password</label>                            
              <input type="text" class="form-control" id="password" placeholder="Password">                   
          </div>
          <button class="btn link-button" type="submit">Send</button>
      </form>
    </div>
  </div>
  <!-- End container -->
</div>